#This tells Python to copy everything in the static and templates directories, and the schema.sql file, but to exclude all bytecode files.

#See the official packaging guide for another explanation of the files and options used.

include flaskr/schema.sql
graft flaskr/static
graft flaskr/templates
global-exclude *.pyc